.container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.imgContainer {
    width: 160px;
    height: 160px;
}


.blueBackground {
    background-color: rgb(2, 130, 250);
}

.textColorWhite {
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

.series {
    padding: 0.5em 1em 0.5em 1em;
    border-style: none;
    position: absolute;
    top: -20px;
    left: 40px;
}

.series:hover {
    cursor: pointer;
}