.label {
    padding: 1rem 0 2rem 0;
    text-transform: uppercase;
    font-size: 0.8em;


}

.cardContainer {
    width: 15%;
    position: relative;
}

.label:hover {
    cursor: pointer;
    color: rgb(2, 130, 250);

}

.imgZoom {
    display: block;
    transition: transform 0.4s ease;
}

.imgZoom:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.cardImage {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top center;

}

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3em;
    color: white;
    opacity: 0;
}

.heart:hover {
    color: red;
    cursor: pointer;
}

.cardContainer:hover .heart {
    opacity: 1;
}