.container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.cardImage {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top center;

}


.imgContainer {
    width: 160px;
    height: 160px;
}

.label {
    padding: 1rem 0 2rem 0;
    text-transform: uppercase;
    font-size: 0.8em;

}

.cardContainer {
    width: 15%;
}

.cardContainer:hover {
    cursor: pointer;
    color: rgb(2, 130, 250);

}

.imgZoom {
    display: block;
    transition: transform 0.4s ease;
}

.imgZoom:hover {
    transform: scale(1.05);
}

.blueBackground {
    background-color: rgb(2, 130, 250);
}

.textColorWhite {
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

.series {
    padding: 0.5em 1em 0.5em 1em;
    border-style: none;
    position: absolute;
    top: -20px;
    left: 40px;
}

.series:hover {
    cursor: pointer;
}