.container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.cardImage {
    width: 170px;
    height: 170px;
    object-fit: cover;
    object-position: top center;
}

.imgContainer {
    width: 160px;
    height: 160px;
}

.label {
    padding: 1rem 0 2rem 0;
    text-transform: uppercase;
    font-size: 0.8em;

}

.cardContainer {
    max-width: 170px;
}