.background {
    background-color: rgb(2, 130, 250);
    min-height: 120px;
}

.icone {
    width: 80%;
    margin: 0 auto;

}

.comicsbackground {
    background-image: url(../assets/footer-bg.jpg);
    min-height: 300px;
    width: 100%;
    background-size: cover;
}

.boxed {
    width: 80%;
    margin: 0 auto;
}

.graybackground {
    background-color: #303030;
    min-height: 80px;
    display: flex;

}

.followus {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;

}

.socialIcons {
    width: 1.7em;

}

.iconList {
    list-style: none;
    display: flex;
    gap: 1em;
}

.rightFollow {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.rightFollow div {
    text-align: bottom;
}

.blue {
    color: #0282fa;
    font-weight: 600;
}

.signButton {
    background-color: #303030;
    padding: 0.8em;
    border: 2.3px solid rgb(2, 130, 250);
    color: white;
    font-weight: 600;
}

.signButton:hover {
    cursor: pointer;
    background-color: rgb(2, 130, 250);
    color: #303030;
}