.background {
    background-color: rgb(2, 130, 250);
    height: 120px;
}

.icone {
    width: 80%;
    margin: 0 auto;
    display: flex;

}

.graybackground {
    background-image: url(../assets/footer-bg.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
}

.boxed {
    width: 80%;
    margin: 0 auto;
}