.background {
    background-color: rgb(2, 130, 250);
    min-height: 120px;
}

.icone {
    width: 80%;
    margin: 0 auto;

}

.comicsbackground {
    background-image: url(../assets/footer-bg.jpg);
    min-height: 300px;
    width: 100%;
    background-size: cover;
}

.boxed {
    width: 80%;
    margin: 0 auto;
}

.graybackground {
    background-color: #303030;
    min-height: 80px;
    display: flex;

}

.followus {
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    align-items: center;

}

.socialIcons {
    width: 1.7em;
}