header {
    display: flex;
    margin: 1rem 0;
}

img {
    width: 80px;
    justify-content: start;
    margin: 0;
}

header nav ul {
    margin: 0;
    list-style: none;
    font-size: 0.7em;
    display: flex;


}

a {
    text-decoration: none;
    color: rgb(28, 28, 28);
}

li {
    display: inline;
    flex-direction: row;
}