header {
    max-width: 80%;
    margin: 0 auto;

}

img {
    width: 65px;

}

.imgZoom {
    display: block;
    transition: transform 0.4s ease;
}

.imgZoom:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    height: 96.4px;
    align-items: stretch;
}

nav li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 0.6em;
    font-weight: 750;
    height: 100%;
}

nav li a:hover {
    color: rgb(2, 130, 250);
    border-bottom: 4px solid rgb(2, 130, 250);

}




.eCommerceLabel {
    color: white;

}