header {
    max-width: 80%;
    margin: 0.7em auto;

}

img {
    width: 70px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav li a {
    text-decoration: none;
    color: rgb(28, 28, 28);
    font-size: 0.6em;
    font-weight: 600;
}

.eCommerceLabel {
    color: white;

}