main {
    background-color: rgb(28, 28, 28);
    color: white;
    min-height: 100px;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.jumbotron {
    background-image: url(../assets/jumbotron.jpg);
    background-size: cover;
    width: 100%;
    min-height: 400px;
}