main {
    background-color: rgb(28, 28, 28);
    color: white;
    min-height: 100px;
    display: block;
    padding: 2rem 0 0 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
}